:root {
    --primary: #0F75BC;
    --secondary: #f7f7f7;
    --violet: #cb93f4;
    --blue: #60bde6;
    --green: #448EBD;
    --gray: #939598;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

header {
    height: auto;
    display: flex;
    padding: 0px 55px 20px 55px;
    top: 0;
    justify-content: space-around;
}

.logo > img {
    display: block;
    max-height: 150px;
}

.navbar-desktop {
    align-items: center;
    display: flex;
    text-align: left;
    font-family: "Asap", sans-serif;
    font-optical-sizing: auto;
}

.navbar-mobile {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.icono-menu {
    display: none;
}

.icono-cerrar-menu {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

a {
    transition: all 0.5s ease;
}

ul a {
    width: inherit;
}

ul li {
    display: inline;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    transition: all .4s ease-in-out;
    padding: 5px;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    color: #1d3030;
}

#navbar-mobile {
    display: none;
}

#nav-wrap-container ul {
    list-style: none;
    padding: 0;
}

#nav-wrap-container ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    z-index: 1;
}

#nav-wrap-container ul li a {
    border: 3px solid transparent;
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: var(--gray);
}

#nav-wrap-container ul li a:hover {
    border: 3px solid transparent /*var(--green)*/;
    border-radius: 30px;
    color: var(--primary);
    margin-right: 0px;
    filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
    transition: filter 0.2s ease-in;
}

/* Estilo para el menú desplegable */
#nav-wrap-container .dropdown-menu {
    display: none;
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

/* Estilo para los elementos del menú desplegable */
#nav-wrap-container .dropdown-menu li {
    display: block;
    background-color: var(--secondary);
    border: 0px solid transparent;
}

/* Estilo para los enlaces del menú desplegable */
#nav-wrap-container .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--gray);
    border: 3px solid transparent;
}

#nav-wrap-container .dropdown-menu li a:hover {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--gray);
    border: 3px solid transparent;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0px;
    z-index: 2;
}

/* Estilo para el menú desplegable activo */
#nav-wrap-container .dropdown:hover .dropdown-menu {
    display: block;
}

.fa-chevron-down:before {
    font-size: 0.65rem;
    display: flex;
    align-self: center;
    position: relative;
    bottom: 1px;
    font-weight: bold;
}

.search-mobile {
    display: none;
}

/*#nav-wrap-container .dropdown:after {
    content: '           >'; 
    font-family: 'FontAwesome';
    font-size: 12px;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
  }*/


/*--SLIDE--*/
#slide {
    position: relative;
    width: 1400px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 5rem;
}

#slide ul {
    position: relative;
    top: 0;
    left: 0;
    width: 1400px;
    height: 400px;
    background: url(./assets/slide-3.png);
    margin: auto;
    filter: drop-shadow(16px 16px 20px rgba(100, 100, 100, 0.155));
    z-index: inherit;
}

#slide ul li img {
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 1s ease-out;
    filter: contrast(80%);
    filter: blur(0.5px);
}

#slide ul li label {
    position: relative;
    z-index: 3;
    top: 370px;
    justify-content: center;
    left: 650px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: var(--secondary);
    border: 3px solid #ffffff03;;
    cursor: pointer;
    border-radius: 100%;
}

#slide ul li label:hover {
    background: var(--primary);
}

#slide ul li label:active {
    background: var(--secondary);
}

#slide ul li input {
    display: none;
}

#slide ul li input#boton-1:checked ~ #foto01 {
    opacity: 1;
}

#slide ul li input#boton-2:checked ~ #foto02 {
    opacity: 1;
}

#slide ul li input#boton-3:checked ~ #foto03 {
    opacity: 1;
}

#slide ul li input#boton-4:checked ~ #foto04 {
    opacity: 1;
}

#slide ul li input#boton-5:checked ~ #foto05 {
    opacity: 1;
}

/*
input[type="radio"] {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}
*/
.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(199, 199, 199, 0.423);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--secondary);
    padding: 70px;
    box-shadow: 0 2px 2px rgba(95, 94, 94, 0.026) inset;
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card .card-content {
    padding: 0px 30px 20px;
}

.card img {
    width: 100%;
    height: auto;
    padding: 30px 30px 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 0.9rem;
    color: #666;
}

.card-date {
    margin-left: 10px;
}

.card-body {
    font-size: 1rem;
    line-height: 1.6;
}

/*#contacto {
    position: relative;
    z-index: -1;
    height: 600px;
    width: 100%;
    background-color: var(--violet);
}*/

.content {
    height: 500px;
    width: 100%;
}

.media-container {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 5%;
}

.other-media {
    width: 560px;
    height: 315px;
}


footer {
    height: 70px;
    padding: 10px;
    background: rgb(15, 117, 188);
    /*background: linear-gradient(45deg, rgba(15,117,188,1) 12%, rgba(68,142,189,1) 39%, rgba(95,181,222,1) 87%);*/
}

#social-media {
    padding: 10px 0px;
    display: flex;
    align-self: end;
    justify-content: space-between;
    width: 300px;
    float: right;
    padding: 10px;
}

#social-media .fa-brands {
    color: var(--secondary);
    opacity: 0.6;
    font-size: 2.3rem;
}

#social-media .fa-brands:hover {
    opacity: 0.95;
}

/*-----------------------      RESPONSIVE STYLES     -----------------------*/

@media only screen  and (max-width: 800px) {
    header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        padding-right: 2em;
    }

    .logo > img {
        display: block;
    }

    .search {
        display: none;
    }

    #nav-wrap-container ul {
        background-color: var(--primary);
        color: white;
        display: inline-block;
        width: 100%;
    }

    #nav-wrap-container ul li {
        width: max-content;
        text-align: left;
        display: block;
    }

    #nav-wrap-container ul li:hover {
        width: max-content;
        text-align: left;
        display: block;
        background-color: var(--secondary);
    }

    #nav-wrap-container ul li a {
        color: var(--secondary);
    }

    #nav-wrap-container ul li a:hover {
        border-bottom: 3px solid transparent;
        color: var(--primary);
        filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
        transition: filter 0.2s ease-in;
    }

    .icono-menu {
        display: inline;
    }

    .icono-cerrar-menu {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2em;
    }

    #slide {
        width: 100%;
    }

    #slide ul li img {
        transform: translate(-7%);
    }

    .card {
        margin: 2rem 0;

    }

    .container {
        display: block;
        padding: 30px;
    }
}
