:root {
    --primary: #0F75BC;
    --secondary: #f7f7f7;
    --violet: #cb93f4;
    --blue: #60bde6;
    --green: #448EBD;
    --gray: #939598;
    --logo-gray : #606060;
    --logo-blue: #4361a1;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    --webkit-font-smoothing:antialiased;
    --moz-font-smoothing:antialiased;
    --o-font-smoothing:antialiased;
    --font-smoothing:antialiased;
    --text-rendering:optimizeLegibility;
    --fuente-titulos:"Asap", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto; 
}
.header {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    padding: 1rem 0 0.5rem 0;;
    transition: .5s;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    opacity: 0.98;
}
.logo > img {
    display: block;
}
.logo > a {
    width: 100%;
}
/* ------------------- NAV SECTION ------------------- */
.navbar-desktop {
    align-items: center;
    display: flex;
    text-align: left;
    font-family: var(--fuente-titulos);
    font-optical-sizing: auto;
}
.navbar-mobile {
    text-align: left;
    font-family: var(--fuente-titulos);
    font-optical-sizing: auto;
    display: none;
    background-color: var(--primary);
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 5em;
    height: 100vh;
    min-width: 50%;
    z-index: 12;
    width: 17rem;
}
.icono-menu {
    display: none;
}
.icono-cerrar-menu {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0 auto;
}
a {
    transition: all 0.5s ease;
}
ul a {
    width: inherit;
}
ul li {
    display: inline;
}
ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    transition: all .4s ease-in-out;
    padding: 5px;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}
#navbar-mobile {
    display: none;
}
#nav-wrap-container ul {
    list-style: none;
    padding: 0;
    
}
#nav-wrap-container ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}
#nav-wrap-container ul li a {
    border: 3px solid transparent;
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: var(--logo-gray);
}
#nav-wrap-container ul li a:hover {
    border: 3px solid transparent;
    border-radius: 30px;
    color: var(--primary);
    margin-right: 0px;
    filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
    transition: filter 0.2s ease-in;
}
/* Estilo para el menú desplegable */
#nav-wrap-container .dropdown-menu {
    display: none;
    position: fixed;
    background-color: transparent;
    z-index: 13;
}
/* Estilo para los elementos del menú desplegable */
#nav-wrap-container .dropdown-menu li {
    display: block;
    background-color: var(--secondary);
    border: 0 solid transparent;
}
/* Estilo para los enlaces del menú desplegable */
#nav-wrap-container .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 3px solid transparent;
}
#nav-wrap-container .dropdown-menu li a:hover {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 3px solid transparent;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0;
    z-index: 2;
    width: 100%;
}
/* Estilo para el menú desplegable activo */
#nav-wrap-container .dropdown:hover .dropdown-menu {
    display: block;
}
/* ------------------- FONT AWESOME ICONS FOR NA ------------------- */
.fa-chevron-down:before {
    font-size: 0.65rem;
    display: flex;
    align-self: center;
    position: relative;
    bottom: 1px;
    font-weight: bold;
}
.fa-x:before {
    color: var(--secondary);
}
.mobile-only {
    display: none;
}
.search-mobile {
    display: none;
    float: right;
}
search > form > input[id="fsrch"] {
    line-height: 1.4rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 0.2rem;
}
search > form > button[type="submit"] {
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--logo-gray);
    font-size: 0.7rem;
    margin-left: 0.5rem;
}
search > form > button[type="submit"]:hover {
    cursor: pointer;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    letter-spacing: 1px;
    color: var(--green);
    margin-left: 0.5rem;
}
/* NEW SLIDE */
.slideshow-container {
    position: relative;
    width: 1400px;
    margin: auto;
    height: 400px;
    transition: .5s;
    overflow: hidden;
    margin-top: 150px; 
  }
  .slideshow-container ul {
    position: relative;
    top: 0;
    left: 0;
    height: inherit;
    width: 1400px;
    background: url(./assets/slide-3.png);
    margin: auto;
    filter: drop-shadow(16px 16px 20px rgba(100, 100, 100, 0.155));
    z-index: inherit;
    
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    /*
    background-color: rgba(199, 199, 199, 0.423);*/
    background-color: #0f74bc9a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(119, 116, 116, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.container {
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--secondary);
    padding: 4rem 1.5rem;
    box-shadow: 0 2px 2px rgba(95, 94, 94, 0.026) inset;
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card .card-content {
    padding: 0px 30px 20px;
}

.card img {
    width: 100%;
    height: auto;
    padding: 30px 30px 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 0.9rem;
    color: #666;
}

.card-date {
    margin-left: 10px;
}

.card-body {
    font-size: 1rem;
    line-height: 1.6;
}

/*#contacto {
    position: relative;
    z-index: -1;
    height: 600px;
    width: 100%;
    background-color: var(--violet);
}*/

.content {
    height: 500px;
    width: 100%;
}

.media-container {
    display: flex;
    justify-content: space-evenly;
    height: fit-content;
    padding: 5%;
    margin: 0px 3rem;
}

.other-media {
    width: 560px;
    height: 315px;
}


footer {
    display: flex;
    justify-content: center;
    background: var(--logo-blue);
    
}
.footer-inner {
    flex-basis: 50%;
    color: var(--secondary);
    text-align: center;
    padding: 1rem;
}

#social-media {
    padding: 10px 0px;
    display: flex;
    align-self: end;
    justify-content: center;
    width: 300px;
    float: right;
    flex-basis: 50%;
}

#social-media .fa-brands {
    color: var(--secondary);
    opacity: 0.8;
    font-size: 1.7rem;
    margin: 0 1rem;
}

#social-media .fa-brands:hover {
    opacity: 1;
}



/* Estilos para seccion de contacto */

.seccion-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0px 0.8px 5px #c7ced8 inset;
}

.contacto-container{
    display: flex;
    justify-content: center;
}

.contacto-titulo{
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 2rem;
    font-family: var(--fuente-titulos);
}

.contacto-mail,
.contacto-formulario{
    display: block;
    width: 40%;
}
.contacto-formulario-titulo {
    color: var(--violet);
    display: block;
    font-size: 30px;
    font-weight: 400;
    font-family: var(--fuente-titulos);
}

.contacto-formulario-subtitulo {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

.contacto-formulario-campo {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.contacto-formulario-campo input,
.contacto-formulario-campo textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

textarea,
input{
    font-family: var(--fuente-titulos);
}

.contacto-formulario-campo input:hover,
.contacto-formulario-campo textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

.contacto-formulario-campo textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

.contacto-formulario-campo button {
    cursor:pointer;
    width:100%;
    border:none;
    /*background: rgb(15,117,188);
    background: linear-gradient(90deg, rgba(15,117,188,1) 0%, rgba(68,142,189,1) 16%, rgba(125,144,212,1) 40%, rgba(121,144,210,1) 83%, rgba(203,147,244,1) 100%);
    /*background:var(--primary);*/
    background: rgb(114,140,212);
    background: linear-gradient(90deg, rgba(114,140,212,1) 10%, rgba(121,144,210,1) 16%, rgba(203,147,244,1) 100%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
    border: 1px solid transparent;
}

.contacto-formulario-campo button:hover {
    background:var(--secondary);
    color: var(--primary);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
    border: 1px solid gray;
}

.contacto-formulario-campo button:active {
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contacto-formulario-campo input:focus,
.contacto-formulario-campo textarea:focus {
    outline:0;
    border:1px solid #999;
}


::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.contacto-email-link{
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    padding-top: 20px;
}

.contacto-email-link a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.contacto-email-link a p{
    border: 2px solid var(--primary);
    width: max-content;
    height: min-content;
    padding: 20px;
    border-radius: 50px;
}

.contacto-email-link a {
    color: var(--primary);
}

.contacto-email-link a:hover,
.contacto-email-link:hover{
    color: var(--green);
}
/*estilo general de las paginas no index*/

.hero-sidepage {
    padding-top: 130px;
}


/* QUIENES SOMOS */
.quienes-somos, .historia {
    width: 75%;
    margin: auto;
    height: auto;
    font-size: 1.1rem;
}
ol > li {
    padding-bottom: 1rem;
}
article {
    margin: 0.5rem 1rem;
    padding-bottom: 2rem;
}
article > div > h3 {
    text-align-last: left;
    padding: 1rem 0rem;
    font-size: 1.4rem;
}
article > div > p {
    padding: 0.7rem 0px;
    line-height: 1.6;
    font-size: 1.125rem;
}
article > div > ol {
    width: 95%;
    margin: auto;
}
.bold-text {
    font-weight: bold;
}
.italic-text {
    font-style: italic;
}
aside {
    padding-left: 0.5rem;
    margin: 1rem;
    margin-left: 0.5rem;
    box-shadow: inset 5px 0 5px -5px var(--green), inset -5px 0 5px -5px var(--green);
  }
  
  aside > p {
    margin: 0.5rem;
    padding: 0px 3rem;
    line-height: 2;
  }
  
/*-----------------------      RESPONSIVE STYLES     -----------------------*/

@media only screen  and (max-width: 800px) {
    .header {
        justify-content: space-between;
        padding: 0.5rem 1.5rem 0.5rem 1rem;
    }
    .logo > img {
        display: block;
    }
    .dektop-only {
        display: none;
    }
    #nav-wrap-container ul {
        display: inline-block;
        width: 100%;
        margin-right: 1rem;
    }
    #nav-wrap-container ul li {
        width: 100%;
        text-align: left;
        display: block;
        margin-right: 0;
    }
    #nav-wrap-container ul li:hover {
        text-align: left;
        display: block;
        background-color: var(--green);
    }
    #nav-wrap-container ul li a {
        color: var(--secondary);
        padding-right: 0;
    }
    #nav-wrap-container ul li a:hover {
        border-bottom: 3px solid transparent;
        filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
        transition: filter 0.2s ease-in;
        color: var(--secondary);
        text-shadow: 1px 1px 2px var(--logo-gray);
    }
    #nav-wrap-container .dropdown-menu {
        position: inherit;
    }
    #nav-wrap-container ul li:hover .dropdown-menu {
        background-color: var(--green);
      }
      
      #nav-wrap-container .dropdown-menu li a {
        color: var(--logo-gray); 
      }
      
      #nav-wrap-container .dropdown-menu li a:hover {
        color: var(--secondary);
        background-color: var(--green); 
        
      }
      .wrapper .wrapper-opacity {
        opacity: 0.4;
        background: black;
      }
    .icono-menu {
        display: inline;
    }
    .icono-cerrar-menu {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2em;
    }
    .search {
        display: none;
    }
/*
    #slide {
        width: 100%;
    }

    #slide ul li img {
        transform: translate(-7%);
    }
*/
    p {
    font-size: 1rem;
    }
    .card {
        margin: 2rem 0;

    }

    .container {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .contacto-container {
        display: flex;
        flex-direction: column;
    }
    .contacto-mail {
        width: 100%;
        padding-bottom: 2rem;
    }
    .contacto-formulario {
        width: 100%;
    }
    .quienes-somos {
        height: auto;
        width: 95%;
    }
    .slideshow-container {
        min-width: -webkit-fill-available;
        width: fit-content;
        height: auto;
        margin-top: 120px;
    }
    .wrapper {
        width: auto;
    }
    /*
    .desktop-only {
        display: none;
    }*/
    .mobile-only {
        width: 100%!important;
        display: flex;
        flex-direction: column;
    }
    aside {
        width: 100%;
        float: none;
        margin: 0;
    }
    aside > p {
        margin: 0;
        padding: 0.5rem;
        line-height: 1.2;
    }
    article > div > p {
        font-size: smaller;
    }
    article > div > ol {
        font-size: smaller;
    }
    article > div > h3 {
        font-size: 1.2rem;
    }
    .media-section {
        display: none;
    }
    .media-container {
        padding: 0;
        margin: 0;
    }
    .desktop-only {
        display: none;
    }
    footer {
        flex-direction: column-reverse;
    }
    #social-media {
        padding-top: 1rem;
        justify-content: space-evenly;
        width: 100%;
    }
}

  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    
  }