:root {
    --primary: #0F75BC;
    --secondary: #f7f7f7;
    --violet: #cb93f4;
    --blue: #60bde6;
    --green: #448EBD;
    --gray: #939598;
    --webkit-box-sizing:border-box;
    --moz-box-sizing:border-box;
    --webkit-font-smoothing:antialiased;
    --moz-font-smoothing:antialiased;
    --o-font-smoothing:antialiased;
    --font-smoothing:antialiased;
    --text-rendering:optimizeLegibility;
    --fuente-titulos:"Asap", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.header {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    padding: 0;
    transition: .5s;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}

.header-on-top {
    height: auto;
}

.header-on-scroll {
    height: 56px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 10px gray;
}

.logo > img {
    display: block;
    max-height: 150px;
    transition: .5s;
}

.navbar-desktop {
    align-items: center;
    display: flex;
    text-align: left;
    font-family: var(--fuente-titulos);
    font-optical-sizing: auto;
}

.navbar-mobile {
    text-align: left;
    font-family: var(--fuente-titulos);
    font-optical-sizing: auto;
    display: none;
    background-color: var(--primary);
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 5em;
    height: 100vh;
    min-width: 50%;
    z-index: 12;
}

.icono-menu {
    display: none;
}

.icono-cerrar-menu {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0 auto;
}

a {
    transition: all 0.5s ease;
}

ul a {
    width: inherit;
}

ul li {
    display: inline;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    transition: all .4s ease-in-out;
    padding: 5px;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
}

#navbar-mobile {
    display: none;
}

#nav-wrap-container ul {
    list-style: none;
    padding: 0;
}

#nav-wrap-container ul li {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
    z-index: 1;
}

#nav-wrap-container ul li a {
    border: 3px solid transparent;
    display: block;
    width: 100%;
    margin-right: 0;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: var(--gray);
}

#nav-wrap-container ul li a:hover {
    border: 3px solid transparent;
    border-radius: 30px;
    color: var(--primary);
    margin-right: 0px;
    filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
    transition: filter 0.2s ease-in;
}

/* Estilo para el menú desplegable */
#nav-wrap-container .dropdown-menu {
    display: none;
    position: fixed;
    background-color: transparent;
    z-index: 13;
}

/* Estilo para los elementos del menú desplegable */
#nav-wrap-container .dropdown-menu li {
    display: block;
    background-color: var(--secondary);
    border: 0 solid transparent;
}

/* Estilo para los enlaces del menú desplegable */
#nav-wrap-container .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--gray);
    border: 3px solid transparent;
}

#nav-wrap-container .dropdown-menu li a:hover {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border: 3px solid transparent;
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 0;
    z-index: 2;
}

/* Estilo para el menú desplegable activo */
#nav-wrap-container .dropdown:hover .dropdown-menu {
    display: block;
}

.fa-chevron-down:before {
    font-size: 0.65rem;
    display: flex;
    align-self: center;
    position: relative;
    bottom: 1px;
    font-weight: bold;
}
.fa-x:before {
    color: var(--secondary);
}
.fa-magnifying-glass {
    color: gray;
}
.search-mobile {
    display: none;
    float: right;
}
/*#nav-wrap-container .dropdown:after {
    content: '           >'; 
    font-family: 'FontAwesome';
    font-size: 12px;
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
  }*/


/*--SLIDE--*/
#slide {
    position: relative;
    width: 100%;
    height: 400px;
    transition: .5s;
    overflow: hidden;
    margin-top: 170px;
}

#slide ul {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background: url(./assets/slide-3.png);
    margin: auto;
    filter: drop-shadow(16px 16px 20px rgba(100, 100, 100, 0.155));
    z-index: inherit;
}

#slide ul li img {
    width: auto;
    height: 100%;
    margin: auto;
    opacity: 0;
    left: 0;
    transition: opacity 1s ease-out;
    filter: contrast(80%);
    filter: blur(0.5px);
}

#slide ul li label {
    position: relative;
    z-index: 3;
    top: 370px;
    justify-content: center;
    left: 650px;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: var(--secondary);
    border: 3px solid #ffffff03;;
    cursor: pointer;
    border-radius: 100%;
}

#slide ul li label:hover {
    background: var(--primary);
}

#slide ul li label:active {
    background: var(--secondary);
}

#slide ul li input {
    display: none;
}

#slide ul li input#boton-1:checked ~ #foto01 {
    opacity: 1;
}

#slide ul li input#boton-2:checked ~ #foto02 {
    opacity: 1;
}

#slide ul li input#boton-3:checked ~ #foto03 {
    opacity: 1;
}

#slide ul li input#boton-4:checked ~ #foto04 {
    opacity: 1;
}

#slide ul li input#boton-5:checked ~ #foto05 {
    opacity: 1;
}

/*
input[type="radio"] {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}
*/
.prev-slide, .next-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(199, 199, 199, 0.423);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev-slide {
    left: 10px;
}

.next-slide {
    right: 10px;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: var(--secondary);
    padding: 70px;
    box-shadow: 0 2px 2px rgba(95, 94, 94, 0.026) inset;
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card .card-content {
    padding: 0px 30px 20px;
}

.card img {
    width: 100%;
    height: auto;
    padding: 30px 30px 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 0.9rem;
    color: #666;
}

.card-date {
    margin-left: 10px;
}

.card-body {
    font-size: 1rem;
    line-height: 1.6;
}

/*#contacto {
    position: relative;
    z-index: -1;
    height: 600px;
    width: 100%;
    background-color: var(--violet);
}*/

.content {
    height: 500px;
    width: 100%;
}

.media-container {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 5%;
}

.other-media {
    width: 560px;
    height: 315px;
}


footer {
    height: 70px;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: var(--primary);
}

#social-media {
    padding: 10px 0px;
    display: flex;
    align-self: end;
    justify-content: space-between;
    width: 300px;
    float: right;
}

#social-media .fa-brands {
    color: var(--secondary);
    opacity: 0.8;
    font-size: 2.3rem;
}

#social-media .fa-brands:hover {
    opacity: 1;
}



/* Estilos para seccion de contacto */

.seccion-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    box-shadow: 1px 0.5px 2px gray inset;
}

.contacto-container{
    display: flex;
    justify-content: space-around;
}

.contacto-titulo{
    text-align: left;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2rem;
    font-family: var(--fuente-titulos);
}

.contacto-mail,
.contacto-formulario{
    display: block;
    width: 40%;
}

.contacto-formulario-titulo {
    color: var(--violet);
    display: block;
    font-size: 30px;
    font-weight: 400;
    font-family: var(--fuente-titulos);
}

.contacto-formulario-subtitulo {
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

.contacto-formulario-campo {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

.contacto-formulario-campo input,
.contacto-formulario-campo textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

textarea,
input{
    font-family: var(--fuente-titulos);
}

.contacto-formulario-campo input:hover,
.contacto-formulario-campo textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

.contacto-formulario-campo textarea {
    height:100px;
    max-width:100%;
    resize:none;
}

.contacto-formulario-campo button {
    cursor:pointer;
    width:100%;
    border:none;
    /*background: rgb(15,117,188);
    background: linear-gradient(90deg, rgba(15,117,188,1) 0%, rgba(68,142,189,1) 16%, rgba(125,144,212,1) 40%, rgba(121,144,210,1) 83%, rgba(203,147,244,1) 100%);
    /*background:var(--primary);*/
    background: rgb(114,140,212);
    background: linear-gradient(90deg, rgba(114,140,212,1) 10%, rgba(121,144,210,1) 16%, rgba(203,147,244,1) 100%);
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
    border: 1px solid transparent;
}

.contacto-formulario-campo button:hover {
    background:var(--secondary);
    color: var(--primary);
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
    border: 1px solid gray;
}

.contacto-formulario-campo button:active {
    box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.contacto-formulario-campo input:focus,
.contacto-formulario-campo textarea:focus {
    outline:0;
    border:1px solid #999;
}


::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}

/*-----------------------      RESPONSIVE STYLES     -----------------------*/

@media only screen  and (max-width: 800px) {
    .header {
        justify-content: space-between;
        padding: 0;
        padding-right: 2em;
    }

    .logo > img {
        display: block;
        max-height: 100px;
    }

    .search {
        display: none;
    }

    #nav-wrap-container ul {
        color: white;
        display: inline-block;
        width: 100%;
    }

    #nav-wrap-container ul li {
        width: 100%;
        text-align: left;
        display: block;
        margin-right: 0;
    }

    #nav-wrap-container ul li:hover {
        text-align: left;
        display: block;
        background-color: var(--secondary);
    }

    #nav-wrap-container ul li a {
        color: var(--secondary);
        padding-right: 0;
    }

    #nav-wrap-container ul li a:hover {
        border-bottom: 3px solid transparent;
        color: var(--primary);
        filter: drop-shadow(0px 0px 0.3px rgba(41, 37, 37, 0.563));
        transition: filter 0.2s ease-in;
    }

    .icono-menu {
        display: inline;
    }

    .icono-cerrar-menu {
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        padding: 2em;
    }
    #nav-wrap-container .dropdown-menu {
        position: unset;
    }

    #slide {
        width: 100%;
    }

    #slide ul li img {
        transform: translate(-7%);
    }

    .card {
        margin: 2rem 0;

    }

    .container {
        display: block;
        padding: 30px;
    }
    .contacto-container {
        display: flex;
        flex-direction: column;
    }
    .contacto-mail {
        width: 100%;
        padding-bottom: 2rem;
    }
    .contacto-formulario {
        width: 100%;
    }
}
