:root {
    --primary: #0F75BC;
    --secondary: #f7f7f7;
    --violet: #cb93f4;
    --blue: #60bde6;
    --green: #448EBD;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
}
.slides {
    width: 100%;
    height: 400px;
    background: grey;
    width: 85%;
    margin: auto;
}
nav {
    display: block;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: left;
}
header {
    height: auto;
    display: flex;
    padding: 0px 55px 20px 55px;
    justify-content: space-around;
}
.logo > img {
    display: block;
    width: 100%;
    max-height: 150px;
}
ul {
    list-style-type: none; 
    margin: 0 auto;
}
a {
    transition: all 0.5s ease;
}
ul a {
    width: inherit;
}
.dropdown-menu {
    width: 100%;
}
ul li {
    display: inline; 
}
ul li a {
    display: inline-block; 
    /*padding: 10px 20px;*/
    text-decoration: none; 
    color: var(--primary);
    border-bottom: 5px solid transparent;
    transition: all .4s ease-in-out;
    font-size: 1rem;
    color: #1d3030;
}
    

#nav-wrap-container ul li a:hover{
    border-bottom: 5px solid var(--green);
    
}
/* Estilo para el contenedor del menú */
#nav-wrap-container ul {
    list-style: none;
    padding: 0;
}

/* Estilo para los elementos del menú */
#nav-wrap-container ul li {
    display: inline-block;
    position: relative;
}

/* Estilo para los enlaces del menú */
#nav-wrap-container ul li a {
    display: block;
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: #333;
    line-height: 1.25rem;
}

/* Estilo para el menú desplegable */
#nav-wrap-container .dropdown-menu {
    display: none; /* Ocultar el menú desplegable por defecto */
    position: absolute;
    background-color: #fff;
    z-index: 1;
}

/* Estilo para los elementos del menú desplegable */
#nav-wrap-container .dropdown-menu li {
    display: block;
}

/* Estilo para los enlaces del menú desplegable */
#nav-wrap-container .dropdown-menu li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
}

/* Estilo para el menú desplegable activo */
#nav-wrap-container .dropdown:hover .dropdown-menu {
    display: block; 
}

footer {
    height: 80git0px;
    background: rgb(15,117,188);
    background: linear-gradient(45deg, rgba(15,117,188,1) 12%, rgba(68,142,189,1) 39%, rgba(95,181,222,1) 87%);
}

.container {
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr; 
}

.card {
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card .card-content {
    padding: 0px 30px 20px;
}

.card img {
    width: 100%;
    height: auto;
    padding: 30px 30px 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 0.9rem;
    color: #666;
}

.card-date {
    margin-left: 10px;
}

.card-body {
    font-size: 1rem;
    line-height: 1.6;
}

.btn-download {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #0056b3;
}

.main-post {
    grid-column: span 2; 
}


@media  only screen  and (max-width: 800px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }
    #nav-wrap-container ul li {
        width: 100%;
        text-align: left;
    }
    .slides {
        width: 100%;
    }
}